@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* .work-sans-<uniquifier > {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /* 10px */
}

body {
  background-color: hsl(275, 100%, 97%);
  position: relative;
  font-family: "Work Sans", sans-serif;
}

.main-header {
  height: 35vh;
  background-image: url(assets/images/background-pattern-desktop.svg);
}

.main-body {
  width: 60rem;
  background-color: hsl(0, 100%, 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 10px 10px 28px 15px rgba(0, 0, 0, 0.08);
  padding: 4rem;
  border-radius: 10px;
}

.main-body--heading {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.primary--heading {
  color: hsl(292, 42%, 14%);
  font-weight: 700;
  font-size: 3rem;
}

.section--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.hidden {
  display: none;
}

.section:not(:last-child) {
  border-bottom: 2px solid #f1f1f1;
}

.section--click {
  cursor: pointer;
}

.section-Q-paragraph {
  color: hsl(292, 42%, 14%);
  font-weight: 600;
  font-size: 1.6rem;
}

.section-Q-paragraph:active {
  color: hsl(292, 16%, 49%);
}

.section-Ans {
  line-height: 1.3;
  margin-bottom: 2rem;
  color: hsl(292, 16%, 49%);
  font-size: 1.6rem;
}
